.formContainer {
    margin: 3rem 0;
    display: grid;
    align-items : center;
    justify-content: center;
}

.formContainer > form {
    /* background: #eee; */
    width: 80vw;
    /* padding: 1rem; */
}

.formContainer > form input,
.formContainer > form textarea {
    display: block;
    width: calc(100% - 2rem);
    resize: none;
    margin: .5rem 0;
    padding: 1rem;
    font-family: "Inconsolata", sans-serif;
    border: solid 2px #7B9099;
}

.formContainer > form input:focus-within,
.formContainer > form textarea:focus-within {
    /* border-color: green; */
}

.formContainer > form textarea {
    min-height: 18.75rem;
}

@media(min-width: 768px) {
    .formContainer > form {
        width: 50vw;
    }
}

.formContainer > form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.inputRequired {
    color: #CF4449;
    font-size: .8125rem;
    display: block;
    margin-bottom: .8125rem;
}

.formContainer > form button[type="submit"] {
    font-family: "Inconsolata", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background: #040C10;
    color: #43A5CF;
    padding: .5rem 1rem;
}